@import "./config/bootstrap.scss";
@import "./config/variable.scss";

a {
  text-decoration: none;
}
.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.user-page-card{
  border: 0;
  box-shadow: 0 0 17px rgba($color: #000000, $alpha: .1);
  padding: 1rem;

  .title{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
  }

  .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  @include media-breakpoint-up(md) {
    &{
      padding: 2rem;
    }
  }
}
.cursor-pointer{
  cursor: pointer;
}
.error-message{
  color: red;
  font-weight: 400;
  font-size: .9em;
  margin-top: .25rem;
}