@import "../node_modules/bootstrap/scss/functions";


// Custom color theme
$primary: #343434;
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
$custom-colors: (
  "primary": $primary,
);
  
$theme-colors: map-merge($theme-colors, $custom-colors);
// End custom color theme

// Custom pagination color
$pagination-color: $primary;
$pagination-hover-color: $primary;
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;
// End custom pagination color

// Custom offcanvas
$offcanvas-horizontal-width: 100%;
// End custom offcanvas

// Custom Navigation
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
// End custom Navigation
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
